* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-image: url('images/bgimage3.jpg');
    background-position: center;
    background-size: cover;
    height: auto;
    width: auto;

}